* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  box-sizing: border-box;
}

body {
  background: linear-gradient(skyblue, green) no-repeat;
}


#page {
  max-width: 900px;
  margin: auto;
  border: 10px solid black;
  background-color: beige;
  padding: 20px;
}


nav {
  margin-bottom: 30px;
}

nav li {
  display: inline-block;
  width: auto;
  padding: 8px 15px;
  border: 2px solid brown;
  margin: 5px;
  border-radius: 5px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border: 3px solid red;
  margin: 20px 0;
}


h1 {
  margin-bottom: 15px;
}


p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 30px auto;
}


img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

label {
  font-size: 18px;
}

.input {
  margin: 15px 0;
  padding: 8px;
  width: 80%;
  max-width: 400px;
}

#submit {
  width: 120px;
  height: 45px;
}


.footer-p {
  margin: 5px 0;
}

#top-footer {
  margin-top: 40px;
}

#bottom-footer {
  margin-bottom: 40px;
}


@media (max-width: 600px) {
  nav li {
    display: block;
    width: 80%;
    margin: 10px auto;
  }

  p {
    font-size: 16px;
  }
}
